@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply mx-auto w-full md:w-[90%] px-4 md:px-0;
  margin: 0 auto;
}

.list1 {
  display: none;
}

.dropdown-trigger:hover .list1 {
  display: block;
}

