@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 249, 250, 251;
  --background-end-rgb: 243, 244, 246;
}

body {
    @apply mx-auto w-full md:w-[90%] px-4 md:px-0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    margin: 0 auto;
}

  .list1 {
    display: none;
  }
  
  .dropdown-trigger:hover .list1 {
    display: block;
  }
  
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #fb923c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f97316;
} 